<app-header titulo="Consulta Convocatoria"></app-header>

<h5>Consultar por carrrera y fecha</h5>

<ion-content>
  
  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col size="12">
        <ion-toolbar *ngIf="fechaSelected == 1">
          <ion-searchbar placeholder='{{defectSelect}}' animated showcancelbutton="" (ionChange)="buscar($event)">
          </ion-searchbar>
          <ion-buttons slot="primary">
            <ion-button (click)="filtroButton()">
              <ion-icon color="ista" slot="icon-only" name="settings-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
        <ion-toolbar *ngIf="fechaSelected == 2">
          <ion-item>
            <ion-label>Escoja una fecha </ion-label>
            <ion-datetime display-format="MMM DD, YYYY" picker-format="MMM DD, YYYY" value="{{fecha}}" animated
              (ionChange)="buscarFecha($event)"></ion-datetime>
          </ion-item>
          <ion-buttons slot="primary">
            <ion-button (click)="filtroButton()">
              <ion-icon color="ista" slot="icon-only" name="settings-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-col>
    </ion-row>
  </ion-grid>
  




    <ion-card *ngFor="let convocatoria of convocatoria">
    
   <!--|convo: textoBusqueda:tipoServicio">--> 
        <ion-item>
            <ion-icon name="document-text-outline"></ion-icon>
          <ion-label>CARRERA : {{convocatoria.carrera.abreviatura}}</ion-label>
         
        </ion-item>
      
        <ion-card-content>
          <ion-icon name="business-outline"></ion-icon>
         EMPRESA  : {{convocatoria.solicitudEmpresa.empresa.nombre}}
         
        </ion-card-content>
        <ion-card-content>
          ACTIVIDADES A DESARROLAR : {{convocatoria.actividades}}
          </ion-card-content>
      <ion-card-content>
       MATERIAS APROB : {{convocatoria.asignaturas}}
       </ion-card-content>
       <ion-card-content>
        FECHA MAX ENVIAR SOLICITUD : {{convocatoria.fecha_max_recib_solic}}
        </ion-card-content>
        <ion-card-content>
          FECHA INICIO : {{convocatoria.solicitudEmpresa.fecha_inicio}}
          </ion-card-content>
          <ion-card-content>
            Nº ALUMNOS : {{convocatoria.solicitudEmpresa.numero_alumnos}}
            </ion-card-content>
     </ion-card>
</ion-content>
