<app-header titulo="Consulta Convocatoria"></app-header>

<h5>Consultar por carrrera y fecha</h5>

<ion-content>
    <ion-searchbar></ion-searchbar>

    <ion-card *ngFor="let convocatoria of convocatoria">
        <ion-item>
            <ion-icon name="document-text-outline"></ion-icon>
          <ion-label>CARRERA : {{convocatoria.carrera.abreviatura}}</ion-label>
          <ion-button fill="outline" slot="end">View</ion-button>
        </ion-item>
      
        <ion-card-content>
         Nom. Empresa : {{convocatoria.solicitudEmpresa.empresa.nombre}}
        </ion-card-content>
      
      <ion-card-content>
        {{convocatoria.actividades}}
       </ion-card-content>
     </ion-card>
</ion-content>
