.header-row {
    background: #7163AA;
    color: #fff;
    font-size: 18px;
  }
  
  ion-col {
    border: 1px solid #ECEEEF;
  }
  ion-card{ background-color:#ededf5; }
  
  ion-button{
    --background: rgb(240, 240, 247);
  
   
  }
 