<app-header titulo="Consulta Convocatoria"></app-header>

<h5>Consultar por carrrera y fecha</h5>

<ion-content>
    <ion-searchbar></ion-searchbar>

    <ion-card *ngFor="let convocatoria of convocatoria">
        <ion-item>
            <ion-icon name="document-text-outline"></ion-icon>
          <ion-label>CARRERA : {{convocatoria.carrera.abreviatura}}</ion-label>
         
        </ion-item>
      
        <ion-card-content>
          <ion-icon name="business-outline"></ion-icon>
         EMPRESA  : {{convocatoria.solicitudEmpresa.empresa.nombre}}
         
        </ion-card-content>
        <ion-card-content>
          ACTIVIDADES A DESARROLAR : {{convocatoria.actividades}}
          </ion-card-content>
      <ion-card-content>
       MATERIAS APROB : {{convocatoria.asignaturas}}
       </ion-card-content>
       <ion-card-content>
        FECHA MAX ENVIAR SOLICITUD : {{convocatoria.fecha_max_recib_solic}}
        </ion-card-content>
        <ion-card-content>
          FECHA INICIO : {{convocatoria.solicitudEmpresa.fecha_inicio}}
          </ion-card-content>
          <ion-card-content>
            Nº ALUMNOS : {{convocatoria.solicitudEmpresa.numero_alumnos}}
            </ion-card-content>
     </ion-card>
</ion-content>
