<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inicio"></ion-back-button>
    </ion-buttons>
    <img slot="end" alt="logo" height="45" class="ion-margin-end" src="/assets/icon/ista_logo.png">
    <ion-title>Historial de procesos</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-list>
    <ion-item>
      <ion-label>Tipo</ion-label>
      <ion-select placeholder="Seleccinar">
        <ion-select-option  *ngFor="let tipo of tipos" [value]="tipo.id">{{tipo.name}}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-list id="skeleton">
    <ion-item *ngFor='let item of items' [routerLink]="'./proyecto/id'" routerDirection="root" routerLinkActive="active">
      <ion-thumbnail slot="start">
        <ion-skeleton-text></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h3>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
        </p>
      </ion-label>
      <ion-icon name="chevron-forward"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>