<app-header titulo="Instructivos"></app-header>
<ion-content>
    <br>
    <br>
<h4>Instructivo de practicas</h4>
<ion-col size="8" class="ion-text-center">
    <ion-button class="instructivo-button" expand="full" shape="round" fill="outline" color="ista" href="https://drive.google.com/file/d/1gInxqBUrqCFDG3c9EQ05zVbPXFVHW6Fp/view?usp=sharing" >Ver Instructivo
    </ion-button>
  </ion-col>
<h4>reglamento</h4>
  <ion-col size="12" class="ion-text-center">
    <ion-button class="reglamento-button" expand="full" shape="round" fill="outline" color="ista" href="https://drive.google.com/file/d/1EeBKiD0eVRHqfSPTVlzwL3LJ_UiRMU8b/view?usp=sharing" >ver Reglamento
    </ion-button>
  </ion-col>
<h4>Anexos</h4>
  <ion-col size="12" class="ion-text-center">
    <ion-button class="anexos-button" expand="full" shape="round" fill="outline" color="ista" href="../assets/icon/ANEXOS EDITABLES PPP.docx" >Descargar Anexos 
    </ion-button>
  </ion-col>
</ion-content>

<ion-item href="#">
  <ion-label>
    Thumbnail End, Anchor Item
  </ion-label>
  <ion-thumbnail slot="end">
   
  </ion-thumbnail>
</ion-item>