<ion-header no-border translucent>
    <ion-toolbar>


        <ion-buttons slot="start">
            <ion-back-button defaultHref="/inicio" routerAnimation color ="light"></ion-back-button>
        </ion-buttons>

        <ion-title class="ion-text-capitalize" color="light"> {{ titulo }} </ion-title>

       <!-- <ion-buttons slot="end">
            <ion-button (click)="mostrarPop( $event )" color ="light" >
                <ion-icon name="notifications-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
-->
        <img slot="end" alt="logo" height="50" class="ion-margin-end" src="/assets/icon/ISTA_LOGO.svg">
    </ion-toolbar>
</ion-header>