<ion-header>
  <ion-toolbar>
    <!-- <ion-button (click)="toggleMenu()">
                <ion-icon slot="icon-only" name="menu"></ion-icon>
            </ion-button> -->
    <ion-buttons slot="start">
      <ion-menu-button color="primary" menu="primerMenu"></ion-menu-button>
    </ion-buttons>
    <ion-title color="primary">Ista Movil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label> Hola mundo </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
