<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="primary" menu="primerMenu"></ion-menu-button>
    </ion-buttons>
        <img slot="end" alt="logo" height="45" class="ion-margin-end" src="/assets/icon/cabecera_ISTA.png">
        <ion-title color="primary">Ista Movil</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content text-center>
  <img class="icon"   src="assets/icon/ista 2.jpg" style="align-items: center">
  <h1>PRE PROFESIONALES</h1>
  <br>

  <img src="assets/icon/pre1.jpg"  style="align-items: center" >
  <br>
  <p>Las prácticas pre-profesionales contribuyen a la formación del estudiante, le permiten adquirir experiencia en el campo laboral, desarrollar criterios profesionales y sobre toma de decisiones.
  </p>
  </ion-content>