<ion-header>
  <ion-toolbar color="primary">
    <ion-title text-center>Inicio Session</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <img class="icon"  class="ion-align-items-center"  src="/assets/icon/ista.jpg">
  <br>

<ion-content padding>
  <form [formGroup]="loginForm"
  (ngSubmit)="login()"
  id="loginform"
>

    <ion-list>
        <ion-item>
            <ion-label position="stacked">Username</ion-label>
            <ion-input formControlName="username" type="text">
            </ion-input>
        </ion-item>


        <ion-item>
            <ion-label position="stacked">Password</ion-label>
            <ion-input type="password" formControlName="password" type="text">
            </ion-input>
        </ion-item>

    </ion-list>

    <ion-row class="signin">
        <ion-col>
            <ion-button (click)="login()" color="primary" shape="full" expand="block">Iniciar sesion</ion-button>
        </ion-col>
    </ion-row>

</form>
  
  </ion-content>
    
  
