<ion-header>
  <ion-toolbar color="primary">
    <ion-title text-center>Inicio Session</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <img class="icon"  class="ion-align-items-center"  src="/assets/icon/ISTA_02.png">
  <br>
  <br>
  <br>


  <ion-item>
    <ion-label position="floating">Correo Electronico</ion-label>
    <ion-input type="text" name="email"></ion-input>

  </ion-item>
  <ion-item>
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input type="password" name="password"></ion-input>

  </ion-item>
  <br>
  <ion-button expand="block"  href="/inicio">
    Entrar
  </ion-button>
  <br>

</ion-content>