ion-header {
    background-color: #397ffc !important;
  }
  ion-toolbar {
    --background: rgb(19, 15, 77);
    }
    .button{
        background-color: rgb(255, 255, 255);
        color: rgb(11, 20, 63);
       
      }