<ion-header>
  <ion-toolbar >
    <ion-title  color= "warning"text-center>Inicio Session</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content text-center>
  <img class="icon"  class="ion-align-items-center"  src="/assets/icon/ista.jpg">
  <br>


<br>

  <form [formGroup]="loginForm"
  (ngSubmit)="login()"
  id="loginform"
>

    <ion-list>
        <ion-item>
          
            <ion-label position="stacked">Usuario</ion-label>
         
            <ion-input formControlName="username" type="text">
              <ion-icon name="person"></ion-icon>
            </ion-input>
            
        </ion-item>


        <ion-item>
            <ion-label position="stacked">Password</ion-label>
            
            <ion-input type="password" formControlName="password" type="password">
              <ion-icon name="lock-open"></ion-icon>
            </ion-input>
           
        </ion-item>

    </ion-list>
<br>

    <ion-row class="signin">
        <ion-col>
            <ion-button shape="round" (click)="login()"  fill="outline" expand="block">Iniciar sesion</ion-button>
        </ion-col>
    </ion-row>
<br>
<br>

</form>

  </ion-content>
    
  
