<app-header titulo="Anexos"></app-header>
<ion-content class="ion-padding">

    <ion-content>
  
        <ion-list>
            <ion-list-header>
                Anexos
            </ion-list-header>

            <ion-item lines="inset" *ngFor="let data of Data">


                <ion-item href={{data.url}}>
                    <ion-label>
                      {{data.nombre}}
                    </ion-label>
                    <ion-thumbnail slot="end">
                     
                    </ion-thumbnail>
                  </ion-item>
        </ion-item>
        </ion-list>
    </ion-content>