<app-header titulo="Institucion"></app-header>

<ion-content  text-center padding-horizontal>

<ion-card>
    <ion-card-header>
      <h2>Mision</h2>

    </ion-card-header>
  
    <h6>
        El INSTITUTO SUPERIOR TECNOLÓGICO DEL AZUAY es una institución de Educación Superior a nivel técnico y tecnológico, dedicada a formar profesionales comprometidos éticamente con la sociedad, desde una preparación basada en entornos de aprendizaje académicos y experienciales que contribuyan al desarrollo de la matriz productiva de la región y sustentada en principios de igualdad, inclusión, solidaridad, interculturalidad y comprensión de la diversidad.
    </h6> 
<br>
  <ion-card-header>
    <h2>Vision</h2>
  </ion-card-header>

 <h6>
    Ser una institución de calidad, solidaria, inclusiva, intercultural y diversa, reconocida por su excelencia académica y sus aportes a la sociedad en el área de la investigación, innovación tecnológica y vinculación con la colectividad, promoviendo el desarrollo integral de la persona y el entorno, en busca de una sociedad justa y equitativa.
 </h6>
<br>
<br>
<br>
</ion-card>
</ion-content>