<app-header titulo="Reporte">
</app-header>

  <ion-content fullscreen class="component-content">
<ion-card>

  <ion-card-header>
    <ion-card-subtitle>Subtitulo</ion-card-subtitle>
    <ion-card-title>Titulo</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    Descriocion: Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi totam saepe vero doloremque illum perspiciatis eum assumenda inventore consequatur voluptates. Odit suscipit consequuntur, laudantium ea temporibus beatae exercitationem minima. Quia!
  </ion-card-content>

</ion-card>
      <div class="ion-padding-start ion-padding-end">
        <ion-button expand="block" onClick={this.open}>Descargar</ion-button>
      </div>
  </ion-content>