<app-header titulo="Consultar Procesos"></app-header>



<br>
<ion-content>
    <ion-item>

        <ion-label>Selccione estado</ion-label>
        <ion-select>
            <ion-select-option value="brown">Tecnologia Superior en Electricidad</ion-select-option>
            <ion-select-option value="blonde">Blonde</ion-select-option>
            <ion-select-option value="black">Black</ion-select-option>
            <ion-select-option value="red">Red</ion-select-option>
        </ion-select>
    </ion-item>
    <br>
    <ion-row style="border-bottom: groove;">
        <ion-col col-2>
            <ion-label>Nº</ion-label>
        </ion-col>
        <ion-col col-4>
            <ion-label>Carrera</ion-label>
        </ion-col>
        <ion-col col-4>
            <ion-label>Estado</ion-label>
        </ion-col>
    </ion-row>
    <ion-row style="border-bottom: groove;">
        <ion-col col-2>
            <ion-label>001</ion-label>
        </ion-col>
        <ion-col col-4>
            <ion-label>software</ion-label>
        </ion-col>
        <ion-col col-4>
            <ion-label>Ejecucion</ion-label>
        </ion-col>
    </ion-row>
    <ion-row style="border-bottom: groove;">
        <ion-col col-2>
            <ion-label>002</ion-label>
        </ion-col>
        <ion-col col-4>
            <ion-label>Electricidad</ion-label>
        </ion-col>
        <ion-col col-4>
            <ion-label>Ejecucion</ion-label>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col col-2>
            <ion-label>003</ion-label>
        </ion-col>
        <ion-col col-4>
            <ion-label>Analisis</ion-label>
        </ion-col>
        <ion-col col-4>
            <ion-label>Ejecucion</ion-label>
        </ion-col>
    </ion-row>
</ion-content>