<app-header titulo="Consultar Procesos"></app-header>




<br>
<ion-content>
    <ion-item>

        <ion-label>Selccione estado</ion-label>
        <ion-select>
            <ion-select-option value="brown">Ejecucion</ion-select-option>
            <ion-select-option value="blonde">Ejecutando</ion-select-option>
            
        </ion-select>
    </ion-item>
    <br>

    <ion-row style="border-bottom: groove;">
        <ion-col col-2>
            <ion-label>ESTADO</ion-label>
        </ion-col>
        <ion-col col-4>
            <ion-label>EMPRESA</ion-label>
        </ion-col>
        <ion-col col-4>
            <ion-label>CARRERA</ion-label>
        </ion-col>
    </ion-row>
    <br>
    <ion-row style="border-bottom: groove;" *ngFor="let procesos of procesos">
        <ion-col col-2>
            <ion-label>{{procesos.estado}}}</ion-label>
        </ion-col>
        <ion-col col-4>
            <ion-label>{{procesos.solicitudEmpresa.empresa.nombre}}</ion-label>
        </ion-col>
        <ion-col col-4>
            <ion-label>{{procesos.carrera.abreviatura}}</ion-label>
        </ion-col>
    </ion-row>
    
</ion-content>