<app-header titulo="Consultar Procesos"></app-header>

<ion-content>
   
    <ion-card *ngFor="let procesos of procesos">
     
        <ion-item>
            <ion-icon name="stats-chart-outline"></ion-icon>
          <ion-label>ESTADO</ion-label>
          <ion-label *ngIf="procesos.estado==true">
            Ejecucion</ion-label>
            <ion-label *ngIf="procesos.estado==false">
              Ejecutado</ion-label>
        </ion-item>
      
        <ion-card-content>
          EMPRESA : {{procesos.solicitudEmpresa.empresa.nombre}}
        </ion-card-content>
        <ion-card-content>
        CARRERA : {{procesos.carrera.nombre}}
          </ion-card-content>
          <ion-card-content>
        RESPONSABLE : {{procesos.solicitudEmpresa.responsablePPP.docente.abreviatura}} {{procesos.solicitudEmpresa.responsablePPP.docente.persona.primer_nombre}}  {{procesos.solicitudEmpresa.responsablePPP.docente.persona.primer_apellido}}
              </ion-card-content>
              
      </ion-card>
    
</ion-content>
