<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inicio"></ion-back-button>
    </ion-buttons>
    <img slot="end" alt="logo" height="45" class="ion-margin-end" src="/assets/icon/ista_logo.png">
    <ion-title>Informacion de carrera</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <br>
  <ion-title>Informacion</ion-title>
  <br>
  <ion-item>
  
 
    <ion-label>Selccione una carrera</ion-label>
    <ion-select>
      <ion-select-option value="brown">Tecnologia Superior en Electricidad</ion-select-option>
      <ion-select-option value="blonde">Blonde</ion-select-option>
      <ion-select-option value="black">Black</ion-select-option>
      <ion-select-option value="red">Red</ion-select-option>
    </ion-select>
  </ion-item>
<ion-list>
  <ion-item>
    <ion-label>Tecnologia Superior en Electricidad</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Coordinador: </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Tutores:</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Responsable de PPP:</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Carreras vinculadas:</ion-label>
  </ion-item>
</ion-list>
</ion-content>